@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700&subset=latin-ext');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

h1 {
  color: #ff5a00; 
  font-size: 50px;
  display: inline-block;
}

.blackFont {
  color: #353230;
}

form {
  float: left;
  padding:0 30px 30px 30px;
  width: 100%;
}

.form-float{
  float: left;
  width: 100%;
}

.form-input,.form-button {
  display: inline-block;
  float:left;
}

.form-input {
  width:80%;
}

.form-button {
  width:20%;
}

.form-checkbox {
  margin-top: 10px;
}

.form-checkbox label{
   cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 
label {
  opacity: 1;
  transition: .3s all ease;
}

input[type="text"] {
  width:100%;
  height:54px;
  line-height: 1.42857143;
  padding-left: 35px;
  color:#333;
  text-transform: uppercase;
  font-size: 0.8125em;
  letter-spacing: 0.075em;
  border:1px solid #d6d6d6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  transition: .3s all ease;
}

button {
    background:#333;
    color:#fff;
    line-height: 1.33;
    font-size: 1.0625em;
    display: inline-block;
    padding:15px 20px;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border:1px solid #333;
    letter-spacing: 0.075em;
    width:100%;
    height:54px;
    cursor:pointer;
}

button:hover {
  background:#222;
  transition:all 0.4s ease-out
}

.howItWorks {
  background-color: #f7f7f7;
  float: left;
  padding:0 30px;
  width: 100%;
}

ol {
  padding-left: 15px;
}

li {
  padding-bottom: 20px;
}

img {
  display: block;
  margin-top: 5px;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #ff5a00; 
  color: #ffffff;
  float: left;
  font-size: 20px;
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 767px){
  label {
    opacity: 1;
    transition: .3s all ease;
  }
  
  input::-webkit-input-placeholder { color:transparent; transition: .3s all ease;}
  input:-moz-placeholder { color:transparent; transition: .3s all ease;} /* FF 4-18 */
  input::-moz-placeholder { color:transparent; transition: .3s all ease;} /* FF 19+ */
  input:-ms-input-placeholder { color:transparent; transition: .3s all ease;} /* IE 10+ */
  
  button {
    float: right;
    width: 150px;
  }
}